In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('communications.csv')
data.shape #(145941, 15)

(145941, 15)

In [3]:
data.describe(include='all')

,message_id,customer_id,sent_at,clicked,converted,client_id,gender,customer_country,age,created_at,client_name,product_type,client_country,channel,message_number
count,145941,145941,145941,145941.000000,145941.000000,145941,114265,115795,123921.000000,145941,145941,145941,145941,145941,145941.000000
unique,145941,9751,145937,NaN,NaN,8,2,3,NaN,9751,8,3,3,2,NaN
top,28d82c62db5989d9441351f58738c6a8,a40ee72e10612613885de1208e1b9500,2021-09-29 09:49:26.507000+00:00,NaN,NaN,cfcd208495d565ef66e7dff9f98764da,M,UK,NaN,2021-01-01 00:10:23.616000+00:00,SwanPay,BNPL,UK,Email,NaN
freq,1,39,2,NaN,NaN,36110,57655,49146,NaN,39,36110,69382,82254,90849,NaN
mean,NaN,NaN,NaN,0.064231,0.021529,NaN,NaN,NaN,43.041857,NaN,NaN,NaN,NaN,NaN,11.730898
std,NaN,NaN,NaN,0.245166,0.145141,NaN,NaN,NaN,17.772985,NaN,NaN,NaN,NaN,NaN,8.639549
min,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,5.000000
50%,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,44.000000,NaN,NaN,NaN,NaN,NaN,10.000000
75%,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,17.000000
max,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,96.000000,NaN,NaN,NaN,NaN,NaN,39.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145941 entries, 0 to 145940
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   message_id        145941 non-null  object
 1   customer_id       145941 non-null  object
 2   sent_at           145941 non-null  object
 3   clicked           145941 non-null  int64
 4   converted         145941 non-null  int64
 5   client_id         145941 non-null  object
 6   gender            114265 non-null  object
 7   customer_country  115795 non-null  object
 8   age               123921 non-null  float64
 9   created_at        145941 non-null  object
 10  client_name       145941 non-null  object
 11  product_type      145941 non-null  object
 12  client_country    145941 non-null  object
 13  channel           145941 non-null  object
 14  message_number    145941 non-null  float64
dtypes: float64(2), int64(2), object(11)
memory usage: 16.7+ MB

In [5]:
data['message_number'] = data['message_number'].astype(int)
data['message_number'].dtype

dtype('int32')

In [6]:
data['gender'].isnull().sum()

31676

In [7]:
data['customer_country'].isnull().sum()

30146

In [8]:
data['age'].isnull().sum()

22020

In [9]:
data.duplicated().sum()

0

In [10]:
data.head(3)

,message_id,customer_id,sent_at,clicked,converted,client_id,gender,customer_country,age,created_at,client_name,product_type,client_country,channel,message_number
0,28d82c62db5989d9441351f58738c6a8,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-04 10:03:16.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,1
1,0f98a1bbf7f2b66f420816a65c8d9b77,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-12 08:34:09.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,2
2,97f9ed967d2334ce0b4ebfcfc9b5c25c,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-19 08:58:11.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51.0,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,Email,3

In [11]:
pd.options.display.float_format = '{:,.0f}'.format

In [12]:
data.head(1)

,message_id,customer_id,sent_at,clicked,converted,client_id,gender,customer_country,age,created_at,client_name,product_type,client_country,channel,message_number
0,28d82c62db5989d9441351f58738c6a8,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-04 10:03:16.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,NaN,51,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,1

In [13]:
data['gender'].value_counts(dropna=False)

M      57655
F      56610
NaN    31676
Name: gender, dtype: int64

In [14]:
data['clicked'].value_counts(dropna=False)

0    136567
1      9374
Name: clicked, dtype: int64

In [15]:
data['converted'].value_counts(dropna=False)

0    142799
1      3142
Name: converted, dtype: int64

In [16]:
data['customer_country'].value_counts(dropna=False)

UK     49146
CA     33911
NZ     32738
NaN    30146
Name: customer_country, dtype: int64

In [17]:
data['channel'].value_counts(dropna=False)

Email    90849
SMS      55092
Name: channel, dtype: int64

In [ ]:
#Handling Missing Values

In [18]:
no_age = data[data['age'].isnull()]
no_age.shape

(22020, 15)

In [19]:
(22050/145941)*100

15.108845355314818

In [20]:
no_age['gender'].value_counts(dropna=False)

F      8248
M      7782
NaN    5990
Name: gender, dtype: int64

In [21]:
no_age['clicked'].value_counts(dropna=False)

0    20806
1     1214
Name: clicked, dtype: int64

In [22]:
no_age['converted'].value_counts(dropna=False)

0    21664
1      356
Name: converted, dtype: int64

In [23]:
data['age'].value_counts(dropna=False)

NaN    22020
51     11736
24      4499
22      4478
25      4291
       ...
91       148
95       131
94       100
93        85
96        10
Name: age, Length: 80, dtype: int64

In [24]:
data['age'].dtype

dtype('float64')

In [25]:
data['age'] = data['age'].fillna(0).astype(int)
data['age'].dtype

dtype('int32')

In [26]:
data['age'].isnull().sum()

0

In [27]:
data['customer_country'].isnull().sum()

30146

In [28]:
(30146/145941)*100

20.656292611397756

In [29]:
data['customer_country'] = data['customer_country'].fillna('Unknown')
data['customer_country'].isnull().sum()

0

In [30]:
data.head(2)

,message_id,customer_id,sent_at,clicked,converted,client_id,gender,customer_country,age,created_at,client_name,product_type,client_country,channel,message_number
0,28d82c62db5989d9441351f58738c6a8,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-04 10:03:16.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,Unknown,51,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,1
1,0f98a1bbf7f2b66f420816a65c8d9b77,f13e966f9dc1e2aa7bffec6c9efa8e11,2021-01-12 08:34:09.376000+00:00,0,0,cfcd208495d565ef66e7dff9f98764da,F,Unknown,51,2021-01-03 15:58:50.376000+00:00,SwanPay,BNPL,UK,SMS,2

In [31]:
data.to_csv('data.csv')

In [32]:
SwanPay = data[data['client_name'] == 'SwanPay']
SwanPay['customer_country'].value_counts(dropna=False)

UK         19179
Unknown     8630
NZ          6159
CA          2142
Name: customer_country, dtype: int64

In [33]:
SwanPay['client_country'].value_counts(dropna=False)

UK    36110
Name: client_country, dtype: int64

In [34]:
SwanPay['product_type'].value_counts(dropna=False)

BNPL    36110
Name: product_type, dtype: int64

In [35]:
Badgerbank = data[data['client_name'] == 'Badgerbank']
Badgerbank['customer_country'].value_counts(dropna=False)

UK         15971
Unknown     6095
NZ          4387
CA          2554
Name: customer_country, dtype: int64

In [36]:
Badgerbank['client_country'].value_counts(dropna=False)

UK    29007
Name: client_country, dtype: int64

In [37]:
Eagle_Energy = data[data['client_name'] == 'Eagle Energy']
Eagle_Energy['customer_country'].value_counts(dropna=False)

CA         6772
NZ          479
Unknown     445
UK          407
Name: customer_country, dtype: int64

In [38]:
Eagle_Energy['client_country'].value_counts(dropna=False)

CA    8103
Name: client_country, dtype: int64